.header {
    padding: 14px;
    text-align: center;
    background: #0058ab;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        color: white;
        font-weight: bold;

        img {
            height: 42px;
            width: auto;
            margin-right: 10px;
        }

        p {
            margin: 0;
        }
    }

    .avatar {
        height: 42px;
        width: 42px;
        border-radius: 50%;
    }
}
