@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f7f8;
}

a {
    text-decoration: none;
}

.global-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1620px;
    background-color: #f5f7f8;
}

h1,
h2 {
    text-align: center;
}

.global-header-2 {
    margin: 24px auto;
}

.global-error-message {
    text-align: center;
    color: lightcoral;
}

.global-borderless-table {
    width: 100%;
    min-width: 360px;
    border-collapse: collapse;
    table-layout: fixed;

    thead tr th {
        padding-left: 10px;
    }

    tbody {
        &:before {
            content: '@';
            display: block;
            line-height: 10px;
            text-indent: -99999px;
        }

        td {
            padding: 10px;
        }

        tr {
            border-bottom: 1px solid black;

            &:hover {
                cursor: pointer;
                background-color: #63ccff;
            }
        }
    }
}

.spinner-border {
    margin: 0 auto;
}
